* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.hero-container::after,
.hero-container::before {
  content: "";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 2;
  margin-top: 20px;
  margin-left: 20%;
}

.hero-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.hero-img img {
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Limit to container width */
  border-radius: 15px; /* Rounded corners */
  margin-left: 100%; /* Move image out of the flow */
}
.tech-icons-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tech-icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
}

.tech-icon img {
  width: 3rem;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tech-icon img:hover {
  transform: scale(1.1);
}

.hero-img > div > img:hover,
.tech-icon img:hover {
  transform: translateY(-0.5rem);
}
