.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.65rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  text-align: center;
  background: rgba(22, 17, 47, 0.6);
  backdrop-filter: blur(1rem);
  transition: all 0.3s ease;
  min-width: 250px;
  min-height: 150px;
  cursor: pointer;
  margin: 0 1rem;
}

.skills-card:hover,
.skills-card.active {
  background: linear-gradient(90deg, #aa94fe 0%, #7c5fe6 100%);
  border-color: transparent;
  transform: scale(1.05); /* Slightly larger on hover */
}

.skills-card span {
  font-size: 1.3rem;
  font-weight: 500;
}

.skills-card img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.skills-card h4 {
  font-size: 1.25rem;
  color: #fff;
}

.skill-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2252;
  border-radius: 0.65rem;
  border: 1.5px solid #6852ba;
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.skill-icon img {
  width: 2.5rem;
  margin-top: 1rem;
  height: auto;
  object-fit: contain;
}

.skill-title {
  font-weight: 500;
}
